@page
@model ECommerce.Api.Pages.dtModel
@{
    Layout = null;
}
@*@{
    ViewData["Title"] = "dt";
}

<h1>Index</h1>*@

@*<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width: 500px">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <td>CategoryName</td>
                    <td><input type="text" id="txtName" class="form-control" /></td>
                </tr>
                <tr>
                    <td>CategoryDescription</td>
                    <td><input type="text" id="txtCountry" class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="btnAdd" value="Add" class="btn btn-primary" />
                    </td>
                </tr>
            </thead>
        </table>
        <br />
        <table id="tblCategories" cellpadding="0" cellspacing="0" border="1" style="border-collapse:collapse">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" />
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "GET",
                url: "https://localhost:44306/api/Category/GetAll",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#tblCategories").DataTable({
                        bLengthChange: true,
                        lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                        bFilter: true,
                        bSort: true,
                        bPaginate: true,
                        data: response,
                        columns: [
                            { data: 'categoryId' },
                            { data: 'categoryName' },
                            { data: 'categoryDescription' },
                            {
                                data: null,
                            //    //"data": "CategoryId", "render": function (data) { // <-- `ID` instead of `id`
                            //    //    return " <a class='btn btn-danger' onclick=Delete(" + data + ")><i class='glyphicon glyphicon-trash'></i> Delete<a/>";
                                  
                                render: function (data, type, row) {
                                    return "<input type='button' id='btnDelete' onclick='Delete(this)' value='Delete' class='btn btn-danger' data-id='" + data.categoryId + "' />";
                                }
                            }
                                    

                            //        /*<a class='btn btn-success' onclick=Edit(" + data + ") style = 'margin-left:12px' > <i class='glyphicon glyphicon-edit'></i> Edit Record < a />*/
                            
                            
                        ]
                    });
                },
                failure: function (r) {
                    alert(r.responseText);
                },
                error: function (r) {
                    alert(r.responseText);
                }
            });

            $('[id*=btnAdd]').on('click', function () {
                var category = {};
                category.CategoryName = $('[id*=txtName]').val();
                category.CategoryDescription = $('[id*=txtCountry]').val();
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44306/api/Category/Create",
                    data: JSON.stringify(category),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        window.location.reload();
                    }
                });
            });
            function Delete(obj) {
                var ele = $(obj);
                var Id = ele.data("data-id");
                var url = "https://localhost:44306/api/Category/Delete" + Id;
                $.ajax({
                    url: url,
                    type: "POST",

                    success: function () {

                        ele.closest("tr").remove();
                    },

                    error: function () {
                        alert("Fails");
                    }

                });
            }
            //$('[id*=btnDelete]').on('click', function () {
            //    var category = {};
            //    category.categoryId = $('[id*=txtId]').val();
            //    $.ajax({
            //        type: "DELETE",
            //        url: "https://localhost:44306/api/Category/DeleteCategory",
            //        data: JSON.stringify(category),
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "json",
            //        success: function (r) {
            //            window.location.reload();
            //        }
            //    });
            //});
        //    $('#tblCategories tbody').on('click', '[id*=btnDelete]', function () {
        //        if (confirm('Are you sure delete this record?')) {
        //            var category = {};
        //            category.categoryId = $(this).attr('data-id');
        //            $.ajax({
        //                type: "POST",
        //                url: "https://localhost:44306/api/Category/Delete",
        //                data: JSON.stringify(category),
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                success: function (r) {
        //                    window.location.reload();
        //                }
        //            });
        //        }
            //});
        
        //});
        //        function Delete(id) {
        //    // First check if a <tbody> tag exists, add one if not
        //    if ($("#tblCategories tbody").length == 0) {
        //        $("#tblCategories").append("<tbody></tbody>");
        //    }

        //    // Append product to the table
        //    $("#tblCategories tbody").append(
        //        "<tr>" +
        //        "<td>" + $("#CategoryId").val() + "</td>" +
        //        "<td>" + $("#CategoryName").val() + "</td>" +
        //        "<td>" + $("#CategoryDescription").val() + "</td>" +

        //        "<td>" + 
        //        "<button type='button' onclick = 'productDelete(this);' class= 'btn btn-default' > " + " < span class= 'glyphicon glyphicon-remove' /> " +
        //    "</button>" +
        //        "</td>" +
        //        "</tr>");
        //}
        //function productDelete(ctl) {
        //    $(ctl).parents("tr").remove();
        //}
    </script>
</body>
</html>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>


    $(document).ready(function() {
        $("#example").DataTable({
            pageLength: 2,
            ajax: {
                url: 'handler=display',
                dataSrc : ''
            },

            "columns": [

                {
                    title: 'CategoryId',
                    data: 'categoryId'
                },
                {
                    title: 'CategoryName',
                    data: 'categoryName'
                },
                {
                    title: 'CategoryDescription',
                    data: 'categoryDescription'
                }
            ]

        });
    });
</script>
-->
<!--@*function DeleteData(CategoryId) {
        if (confirm("Are you sure you want to delete ...?")) {
            Delete(CategoryId);
        } else {
            return false;
        }
    }


        function Delete(CategoryId) {
        var url = '@Url.Content("~/")' + "DemoGrid/Delete";

        $.post(url, { ID: CustomerID }, function(data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    }*@-->
<!--<!--<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>CategoryId</th>
                    <th>CategoryName</th>
                    <th>CategoryDescription</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>


    $(document).ready(function() {
        $("#example").DataTable({
            pageLength: 2,
            ajax: {
                url: 'handler=display',
                dataSrc : ''
            },

            "columns": [

                {
                    title: 'CategoryId',
                    data: 'CategoryId'
                },
                {
                    title: 'CategoryName',
                    data: 'CategoryName'
                },
                {
                    title: 'CategoryDescription',
                    data: 'CategoryDescription'
                },
            ]

        });
    });-->
-->
<!--@*function DeleteData(CategoryId) {
        if (confirm("Are you sure you want to delete ...?")) {
            Delete(CategoryId);
        } else {
            return false;
        }
    }


        function Delete(CategoryId) {
        var url = '@Url.Content("~/")' + "DemoGrid/Delete";

        $.post(url, { ID: CustomerID }, function(data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    }*@-->
<!--</script>--> 